.q1 {
    background-color: #f5fbff;
    height: 860px;
    overflow: hidden;
    position: relative;
    width: 1410px;
  }
  
  .q1 .overlap {
    height: 62px;
    left: 364px;
    position: absolute;
    top: 258px;
    width: 776px;
  }
  
  .q1 .frame {
    height: 44px;
    left: 0;
    position: absolute;
    top: 18px;
    width: 776px;
  }
  
  .q1 .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    left: 141px;
    position: absolute;
    top: 0;
  }
  
  .q1 .frame-3 {
    background-color: #1eb041bf;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px 0px 0px 10px;
    height: 40px;
    position: relative;
    width: 100px;
  }
  
  .q1 .frame-4 {
    border: 1px solid;
    border-color: #d9d9d9;
    height: 40px;
    position: relative;
    width: 100px;
  }
  
  .q1 .frame-5 {
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 0px 10px 10px 0px;
    height: 40px;
    position: relative;
    width: 100px;
  }
  
  .q1 .div-wrapper {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;
    left: 264px;
    padding: 8px;
    position: absolute;
    top: 332px;
    width: 883px;
  }
  
  .q1 .text-wrapper {
    color: #000000;
    font-family: "Arial-Bold", Helvetica;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -99.5px;
    margin-right: -99.5px;
    margin-top: -1px;
    position: relative;
    width: 1066px;
  }
  
  .q1 .overlap-group-3 {
    height: 80px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 1415px;
  }
  
  .q1 .group-2 {
    background-color: #f5fcff;
    box-shadow: 0px 4px 8px #15151514;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1415px;
  }
  
  .q1 .image-5 {
    background-blend-mode: multiply;
    height: 40px;
    left: 40px;
    object-fit: cover;
    position: absolute;
    top: 23px;
    width: 281px;
  }
  
  .q1 .image-6 {
    height: 35px;
    left: 1337px;
    object-fit: cover;
    position: absolute;
    top: 22px;
    width: 35px;
  }
  
  .q1 .frame-wrapper {
    height: 76px;
    left: 1050px;
    position: absolute;
    top: 1024px;
    width: 421px;
  }
  
  .q1 .frame-6 {
    align-items: center;
    background-color: #0d6efd;
    border: 1px solid;
    border-radius: 5px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 152px;
    overflow: hidden;
    padding: 8px 24px;
    position: relative;
    top: 13px;
  }
  
  .q1 .text-wrapper-2 {
    color: #ffffff;
    font-family: "Arial-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .q1 .image-7 {
    height: 21px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .q1 .frame-7 {
    align-items: center;
    background-color: #0d6efd;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    height: 49px;
    justify-content: center;
    left: 595px;
    padding: 10px;
    position: absolute;
    top: 756px;
    width: 220px;
  }
  
  .q1 .text-wrapper-3 {
    color: #ffffff;
    font-family: "Arial-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: -4.5px;
    margin-top: -6.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .q1 .p {
    color: #000000;
    font-family: "Arial-Bold", Helvetica;
    font-size: 25px;
    font-weight: 700;
    height: 58px;
    left: 213px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 165px;
    width: 999px;
  }
  
  .q1 .frame-8 {
    align-items: center;
    background-color: #0d6efd;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    gap: 8px;
    height: 40px;
    justify-content: center;
    left: 1116px;
    overflow: hidden;
    padding: 8px 24px;
    position: absolute;
    top: 794px;
    width: 234px;
  }
  
  .q1 .text-wrapper-4 {
    color: #ffffff;
    font-family: "Arial-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: -3px;
    margin-left: -12px;
    margin-top: -5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .q1 .image-8 {
    height: 21px;
    margin-right: -12px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .q1 .frame-9 {
    align-items: center;
    display: flex;
    gap: 16px;
    height: 33px;
    left: 63px;
    position: absolute;
    top: 792px;
    width: 106px;
  }
  
  .q1 .frame-10 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 5px;
    display: flex;
    gap: 8px;
    height: 42px;
    justify-content: center;
    margin-bottom: -4.5px;
    margin-top: -4.5px;
    padding: 16px 0px;
    position: relative;
    width: 106px;
  }
  
  .q1 .image-9 {
    height: 21px;
    margin-bottom: -5.5px;
    margin-top: -5.5px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .q1 .text-wrapper-5 {
    color: #000000;
    font-family: "Arial-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -5.5px;
    margin-top: -7.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .q1 .text-wrapper-6 {
    color: #000000;
    font-family: "Arial-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    height: 46px;
    left: 548px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 101px;
    width: 314px;
  }
  
  .q1 .frame-11 {
    align-items: flex-start;
    display: inline-flex;
    gap: 12px;
    left: 71px;
    position: absolute;
    top: 408px;
  }
  