.dqhearingloss {
    background-color: #f5fcff;
    height: 1166px;
    position: relative;
    width: 1410px;
  }
  
  .dqhearingloss .div {
    color: #000000;
    font-family: "Arial-Bold", Helvetica;
    font-size: 45px;
    font-weight: 700;
    height: 86px;
    left: 313px;
    letter-spacing: 0;
    line-height: 72px;
    position: absolute;
    text-align: center;
    top: 167px;
    white-space: nowrap;
    width: 784px;
  }
  
  .dqhearingloss .frame-2 {
    align-items: center;
    background-color: #000000;
    border-radius: 5px;
    display: flex;
    gap: 24px;
    height: 50px;
    justify-content: center;
    left: 78px;
    padding: 16px 36px;
    position: absolute;
    top: 1076px;
    width: 180px;
  }
  
  .dqhearingloss .img {
    height: 21px;
    margin-bottom: -1.5px;
    margin-top: -1.5px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .dqhearingloss .text-wrapper-2 {
    color: #f5fcff;
    font-family: "Arial-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -4.5px;
    margin-top: -6.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dqhearingloss .frame-3 {
    align-items: center;
    display: inline-flex;
    gap: 30px;
    left: 1000px;
    position: absolute;
    top: 30px;
  }
  
  .dqhearingloss .image-2 {
    height: 35px;
    object-fit: cover;
    position: relative;
    width: 35px;
  }
  
  .dqhearingloss .frame-4 {
    align-items: center;
    background-color: #0d6efd;
    border: 1px solid;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    padding: 8px 24px;
    position: relative;
  }
  
  .dqhearingloss .text-wrapper-3 {
    color: #f5fcff;
    font-family: "Arial-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dqhearingloss .image-3 {
    height: 21px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .dqhearingloss .frame-5 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
    left: 577px;
    position: absolute;
    top: 280px;
  }
  
  .dqhearingloss .frame-378 {
    height: 85px !important;
  }
  
  .dqhearingloss .frame-instance {
    height: unset !important;
    margin-top: unset !important;
    white-space: unset !important;
  }
  
  .dqhearingloss .frame-378-instance {
    font-size: 27px !important;
    line-height: 43.2px !important;
    margin-top: unset !important;
    white-space: unset !important;
  }
  
  .dqhearingloss .frame-553 {
    font-size: 25px !important;
    line-height: 40px !important;
    margin-top: unset !important;
    white-space: unset !important;
  }
  
  .dqhearingloss .frame-553-instance {
    margin-top: unset !important;
  }
  
  .dqhearingloss .frame-6 {
    align-items: flex-start;
    display: flex;
    height: 40px;
    left: 496px;
    position: absolute;
    top: 86px;
    width: 419px;
  }
  
  .dqhearingloss .frame-7 {
    background-color: #1eb041;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px 0px 0px 10px;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqhearingloss .frame-8 {
    background-color: #1eb041;
    border: 1px solid;
    border-color: #d9d9d9;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqhearingloss .frame-9 {
    background-color: #f5fcff;
    border: 1px solid;
    border-color: #d9d9d9;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqhearingloss .frame-10 {
    background-color: #f5fcff;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 0px 10px 10px 0px;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  