.dqethnicity {
    background-color: #f5fcff;
    height: 1269px;
    position: relative;
    width: 1410px;
  }
  
  .dqethnicity .text-wrapper {
    color: #000000;
    font-family: "Arial-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 74px;
    left: 305px;
    letter-spacing: 0;
    line-height: 64px;
    position: absolute;
    top: 162px;
    white-space: nowrap;
    width: 801px;
  }
  
  .dqethnicity .div {
    align-items: center;
    background-color: #000000;
    border-radius: 5px;
    display: flex;
    gap: 24px;
    height: 50px;
    justify-content: center;
    left: 88px;
    padding: 16px 36px;
    position: absolute;
    top: 1155px;
    width: 180px;
  }
  
  .dqethnicity .image {
    height: 21px;
    margin-bottom: -1.5px;
    margin-top: -1.5px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .dqethnicity .text-wrapper-2 {
    color: #f5fcff;
    font-family: "Arial-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -4.5px;
    margin-top: -6.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dqethnicity .frame-2 {
    align-items: center;
    display: inline-flex;
    gap: 30px;
    left: 1000px;
    position: absolute;
    top: 30px;
  }
  
  .dqethnicity .img {
    height: 35px;
    object-fit: cover;
    position: relative;
    width: 35px;
  }
  
  .dqethnicity .frame-3 {
    align-items: center;
    background-color: #0d6efd;
    border: 1px solid;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    padding: 8px 24px;
    position: relative;
  }
  
  .dqethnicity .text-wrapper-3 {
    color: #f5fcff;
    font-family: "Arial-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dqethnicity .image-2 {
    height: 21px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .dqethnicity .group {
    height: 855px;
    left: 577px;
    position: absolute;
    top: 272px;
    width: 257px;
  }
  
  .dqethnicity .frame-378 {
    height: 85px !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .dqethnicity .frame-instance {
    font-size: 25px !important;
    height: unset !important;
    line-height: 40px !important;
    margin-bottom: -6.5px !important;
    margin-top: -8.5px !important;
    white-space: unset !important;
  }
  
  .dqethnicity .frame-378-instance {
    height: 85px !important;
    left: 0 !important;
    position: absolute !important;
    top: 110px !important;
  }
  
  .dqethnicity .design-component-instance-node {
    font-size: 27px !important;
    line-height: 43.2px !important;
    margin-top: unset !important;
    white-space: unset !important;
  }
  
  .dqethnicity .frame-4 {
    height: 85px !important;
    left: 0 !important;
    position: absolute !important;
    top: 220px !important;
  }
  
  .dqethnicity .frame-5 {
    height: 85px !important;
    left: 0 !important;
    position: absolute !important;
    top: 330px !important;
  }
  
  .dqethnicity .frame-6 {
    margin-top: unset !important;
  }
  
  .dqethnicity .frame-7 {
    height: 85px !important;
    left: 0 !important;
    position: absolute !important;
    top: 440px !important;
  }
  
  .dqethnicity .frame-8 {
    font-size: 20px !important;
    height: unset !important;
    line-height: 32px !important;
    margin-top: -0.5px !important;
    white-space: unset !important;
  }
  
  .dqethnicity .frame-9 {
    height: 85px !important;
    left: 0 !important;
    position: absolute !important;
    top: 550px !important;
  }
  
  .dqethnicity .frame-10 {
    height: 85px !important;
    left: 0 !important;
    position: absolute !important;
    top: 660px !important;
  }
  
  .dqethnicity .frame-11 {
    height: 85px !important;
    left: 0 !important;
    position: absolute !important;
    top: 770px !important;
  }
  
  .dqethnicity .frame-12 {
    align-items: flex-start;
    display: flex;
    height: 40px;
    left: 496px;
    position: absolute;
    top: 86px;
    width: 419px;
  }
  
  .dqethnicity .frame-13 {
    background-color: #1eb041;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px 0px 0px 10px;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqethnicity .frame-14 {
    background-color: #1eb041;
    border: 1px solid;
    border-color: #d9d9d9;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqethnicity .frame-15 {
    background-color: #f5fcff;
    border: 1px solid;
    border-color: #d9d9d9;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqethnicity .frame-16 {
    background-color: #f5fcff;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 0px 10px 10px 0px;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  