.dqmage {
    background-color: #f5fcff;
    height: 1416px;
    position: relative;
    width: 1512px;
  }
  
  .dqmage .div {
    color: #000000;
    font-family: "Arial-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 74px;
    left: 579px;
    letter-spacing: 0;
    line-height: 64px;
    position: absolute;
    top: 158px;
    white-space: nowrap;
    width: 355px;
  }
  
  .dqmage .frame-2 {
    align-items: center;
    background-color: #000000;
    border-radius: 5px;
    display: flex;
    gap: 24px;
    height: 50px;
    justify-content: center;
    left: 101px;
    padding: 16px 36px;
    position: absolute;
    top: 1289px;
    width: 180px;
  }
  
  .dqmage .image {
    height: 21px;
    margin-bottom: -1.5px;
    margin-top: -1.5px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .dqmage .text-wrapper-2 {
    color: #f5fcff;
    font-family: "Arial-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -4.5px;
    margin-top: -6.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dqmage .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    left: 633px;
    position: absolute;
    top: 259px;
  }
  
  .dqmage .frame-378 {
    height: 85px !important;
  }
  
  .dqmage .frame-instance {
    margin-top: unset !important;
  }
  
  .dqmage .frame-378-instance {
    font-size: 28px !important;
    line-height: 44.8px !important;
    margin-top: unset !important;
  }
  
  .dqmage .frame-4 {
    align-items: center;
    display: inline-flex;
    gap: 30px;
    left: 1090px;
    position: absolute;
    top: 30px;
  }
  
  .dqmage .img {
    height: 35px;
    object-fit: cover;
    position: relative;
    width: 35px;
  }
  
  .dqmage .frame-5 {
    align-items: center;
    background-color: #0d6efd;
    border: 1px solid;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    padding: 8px 24px;
    position: relative;
  }
  
  .dqmage .text-wrapper-3 {
    color: #f5fcff;
    font-family: "Arial-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dqmage .image-2 {
    height: 21px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .dqmage .frame-6 {
    align-items: flex-start;
    display: flex;
    height: 40px;
    left: 546px;
    position: absolute;
    top: 93px;
    width: 419px;
  }
  
  .dqmage .frame-7 {
    background-color: #1eb041;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px 0px 0px 10px;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqmage .frame-8 {
    background-color: #1eb041;
    border: 1px solid;
    border-color: #d9d9d9;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqmage .frame-9 {
    background-color: #f5fcff;
    border: 1px solid;
    border-color: #d9d9d9;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqmage .frame-10 {
    background-color: #f5fcff;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 0px 10px 10px 0px;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  