.dqlocation {
    background-color: #f5fcff;
    height: 701px;
    position: relative;
    width: 1410px;
  }
  
  .dqlocation .div {
    color: #000000;
    font-family: "Arial-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 74px;
    left: 523px;
    letter-spacing: 0;
    line-height: 64px;
    position: absolute;
    top: 168px;
    white-space: nowrap;
    width: 365px;
  }
  
  .dqlocation .frame-2 {
    align-items: center;
    background-color: #000000;
    border-radius: 5px;
    display: flex;
    gap: 24px;
    height: 50px;
    justify-content: center;
    left: 99px;
    padding: 16px 36px;
    position: absolute;
    top: 607px;
    width: 180px;
  }
  
  .dqlocation .img {
    height: 21px;
    margin-bottom: -1.5px;
    margin-top: -1.5px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .dqlocation .text-wrapper-2 {
    color: #f5fcff;
    font-family: "Arial-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: -4.5px;
    margin-top: -6.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dqlocation .frame-378 {
    left: 505px !important;
    position: absolute !important;
    top: 382px !important;
    width: 397px !important;
  }
  
  .dqlocation .frame-instance {
    margin-left: unset !important;
    margin-right: unset !important;
  }
  
  .dqlocation .frame-378-instance {
    left: 505px !important;
    position: absolute !important;
    top: 491px !important;
    width: 397px !important;
  }
  
  .dqlocation .design-component-instance-node {
    font-size: 28px !important;
    line-height: 44.8px !important;
    margin-left: unset !important;
    margin-right: unset !important;
  }
  
  .dqlocation .frame-386-default {
    left: 505px !important;
    position: absolute !important;
    top: 275px !important;
  }
  
  .dqlocation .frame-3 {
    align-items: center;
    display: inline-flex;
    gap: 30px;
    left: 1000px;
    position: absolute;
    top: 30px;
  }
  
  .dqlocation .image-2 {
    height: 35px;
    object-fit: cover;
    position: relative;
    width: 35px;
  }
  
  .dqlocation .frame-4 {
    align-items: center;
    background-color: #0d6efd;
    border: 1px solid;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    padding: 8px 24px;
    position: relative;
  }
  
  .dqlocation .text-wrapper-3 {
    color: #f5fcff;
    font-family: "Arial-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .dqlocation .image-3 {
    height: 21px;
    object-fit: cover;
    position: relative;
    width: 21px;
  }
  
  .dqlocation .frame-5 {
    align-items: flex-start;
    display: flex;
    height: 40px;
    left: 496px;
    position: absolute;
    top: 90px;
    width: 419px;
  }
  
  .dqlocation .frame-6 {
    background-color: #1eb041;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 10px 0px 0px 10px;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqlocation .frame-7 {
    background-color: #1eb041;
    border: 1px solid;
    border-color: #d9d9d9;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqlocation .frame-8 {
    background-color: #f5fcff;
    border: 1px solid;
    border-color: #d9d9d9;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  
  .dqlocation .frame-9 {
    background-color: #f5fcff;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 0px 10px 10px 0px;
    flex: 1;
    flex-grow: 1;
    height: 40px;
    position: relative;
  }
  